<div class="container">
    <img src="assets/svg/circle.svg" class="circle" alt="Circulo de fondo">
    <img src="assets/svg/star.svg" class="star" alt="Estrella de fondo">
    <img src="assets/svg/personas.svg" class="person" alt="Personas planeando un viaje">

    <h1 class="title is-1">The Mochileros</h1>
    <h2 class="subtitle is-4">Viaja inteligente con Mochileros y explora lo mejor de méxico con</h2>
    <p class="subtitle is-4">Mochileros App</p>
    <button class="button is-rounded mybtn">¡Viajemos!</button>
</div>